.navbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.navbar__menu {
  display: flex;
  font-weight: bold;
  list-style-type: none;
}

.navbar__menu-item {
  display: inline-block;
  padding: .5em 1em;
}

.navbar__menu-link {
  padding: .5em 1em;
  text-decoration: none;
}

.navbar__menu-link:link,
.navbar__menu-link:visited {
  color: #696969;
}

.navbar__menu-link:hover,
.navbar__menu-link:active {
  background-color: #ffe332;
  color: #393939;
}

.navbar__menu-link.active {
  border-bottom: 4px solid #ffe332;
  color: #393939;
}
.navbar__block {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.navbar__text,
.navbar__link {
  display: inline-block;
  padding: .5em 1em;
}

.navbar__link {
  background-color: #ffe332;
  text-decoration: none;
}

.navbar__link:link,
.navbar__link:visited {
  color: #696969;
}

.navbar__link:hover,
.navbar__link:active {
  color: #393939;
}
