.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.card {
  border: 1px solid #000;
  margin-bottom: 8px;
  margin-top: 8px;
  max-width: 32%;
  min-width: 300px;
}

.card__header {
  background-color: #ffe332;
  border-bottom: 1px solid #000;
  padding: 8px;
}

.card__body {
  padding: 8px;
}
