@import 'assets/styles/shared.scss';

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;

  &:after {
    content: "";
    flex: auto;
  }
}

.card {
  animation: fadein 2s;
  border: 1px solid $blackish;
  box-shadow: 2px 1px 4px $gray-extra-light;
  flex: 0 1 auto;
  margin-bottom: 1rem;

  &__header {
    background-color: $primary-color;
    border-bottom: 1px solid $blackish;
    padding: 8px;
  }

  &__body {
    padding: 8px;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }

  .card {
    flex: 0 0 32%;
    margin: 1% 0;
    min-width: 300px;
  }

  .card:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%;
  }
}
