.input-field,
.input-field--inline {
  font-size: 1rem;
}

.input-field label {
  display: block;
  margin-bottom: .25em;
}

.input-field input {
  font-size: 1rem;
  margin-bottom: 1em;
  padding: .25em;
  width: 100%;
}

.input-field button,
.input-field--inline button {
  background-color: #ffe332;
  border: 0;
  color: #696969;
  font-size: 1rem;
  padding-bottom: .5em;
  padding-left: .375em;
  padding-top: .5em;
  margin: 0 1em;
  transition: background-color .3s;
}

.input-field button {
  padding-right: .375em;
  width: 100%;
}

.input-field button:disabled,
.input-field--inline button:disabled {
  background-color: #f1f1f1;
  color: #393939;
  cursor: not-allowed;
}

.input-field button:hover:enabled,
.input-field--inline button:hover:enabled,
.input-field button:active:enabled,
.input-field--inline button:active:enabled {
  background-color: #e6ca19;
  color: #393939;
  cursor: pointer;
}

.message-box--error {
  background-color: #ffccd4;
  margin-bottom: 1.5em;
  padding: 1em;
  width: 100%;
}


/* inline forms */
.form--inline {
  align-items: center;
  display: flex;
}

.input-field--inline label {
  display: inline-block;
  margin-left: 1em;
  margin-right: .5em;
}

.input-field--inline input {
  font-size: 1rem;
  padding: .25em;
}
