@import 'assets/styles/shared.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $blackish;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container--centered {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

  h1 {
    text-align: center;
  }
}

.admin-table {
  border-top: 1px solid #f0f0f0;
  margin: 1em 0;
  padding: 1em 0;
}

th,
td {
  padding: 9px;
}

a:link,
a:visited {
  color: #0f2279;
  transition: color .3s;
}

a:hover,
a:active {
  color: $secondary-color;
}

.deleteRecipe {
  background-color: red;
  border-radius: 3px;
  padding: 5px;
}

a.deleteRecipe:link,
a.deleteRecipe:visited {
  color: white;
}

.primary-link {
  background-color: $primary-color;
  color: #393939;
  padding: .5em 1em;
  text-decoration: none;
}

