html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container--centered {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container--centered h1 {
  text-align: center;
}

th,
td {
  padding: 9px;
}

.deleteRecipe {
  background-color: red;
  border-radius: 3px;
  padding: 5px;
}

a.deleteRecipe:link,
a.deleteRecipe:visited {
  color: white;
}
